// Max Width
$x-small: 550px;
$small: 640px;
$medium: 806px;
$large: 1080px;
$x-large: 1280px;
$xx-large: 1627px;

// Min Width
$min-x-small: 550px;
$min-small: 640px;
$min-medium: 806px;
$min-large: 1080px;