// Color Pallet
$amaranth: #E13763; // Pinkish Red
$water_blue: #0081C8; // Bluish Cyan
$congress_blue: #00408E; // Cyan Blue
$indigo: #5D0178; // Purple Magenta
$dark_magenta: #8A0079; // Reddish Magenta

// Basic Colors
$black: #000000;
$gray: #c7c7c7;
$white: #FFFFFF;